@tailwind base;
@tailwind components;
@tailwind utilities;

.pattern-grid-lg {
    background-image: linear-gradient(currentColor 1px, transparent 1px), linear-gradient(to right, currentColor 1px, transparent 1px);
    background-size: 40px 40px;
}
